

# Proxy
PROXY_PASS=app:80
SERVER_NAME=monica.server.com

# MonicaHQ
APP_ENV=production
APP_DEBUG=false

# The encryption key. Must be 32 characters long exactly.
# Use `echo -n 'base64:'; openssl rand -base64 32` to generate a random key.
APP_KEY=

# The URL of your application.
APP_URL=https://monica.server.com

# Set trusted proxy IP addresses.
# To trust all proxies that connect directly to your server, use a "*".
APP_TRUSTED_PROXIES=

# Database information
DB_CONNECTION=mysql
DB_HOST=db
DB_DATABASE=monica
DB_USERNAME=monica
DB_PASSWORD=


# Mail credentials used to send emails from the application.
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Monica

LOG_CHANNEL=stderr

CACHE_DRIVER=database
SESSION_DRIVER=database
QUEUE_DRIVER=sync

# Mysql

MYSQL_RANDOM_ROOT_PASSWORD=true
MYSQL_DATABASE=monica
MYSQL_USER=monica
MYSQL_PASSWORD=

# periodic backups
MYSQL_CONTAINER_NAME=db
MYSQL_DATABASE=monica
MYSQL_ROOT_PASSWORD=
